<div class="content wrapper">
  <%= form_with(model: tabi) do |form| %>
    <% if tabi.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(tabi.errors.count, "error") %> prohibited this tabi from being saved:</h2>

        <ul>
          <% tabi.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :route %>
      <%= form.check_box :route_info %>
    </div>

    <div class="field">
      <%= form.label :covid19 %>
      <%= form.check_box :covid_info %>
    </div>

    <div class="field">
      <%= form.label :date %>
      <%= form.date_select :start_date, {:use_month_numbers => true}, selected: Date.today %>
    </div>

    <div class="field">
      <%= form.label :content %>
      <%= form.text_area :content %>
    </div>

    <div class="field">
      <%= form.label :address, '場所' %>
      <%= form.text_field :address, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :tabi_photo %>
      <%= form.file_field :tabi_photos, multiple: true %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>
