<div class="content wrapper">
  <p id="notice"><%= notice %></p>

  <h1>みんなのTabi</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Address</th>
        <th>User</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @tabis.each do |tabi| %>
        <tr>
          <td><%= tabi.title %></td>
          <td><%= tabi.content %></td>
          <td><%= tabi.address %></td>
          <td><%= link_to tabi.user.name, account_user_path(tabi.user_id) %></td>
          <td><%= link_to 'Show', tabi %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
