<div class="content wrapper">
  <p id="notice"><%= notice %></p>

  <h1>わたしのTabi</h1>

  <table>
    <thead>
      <tr>
        <th>Photo</th>
        <th>Title</th>
        <th>Address</th>
        <th>行き方</th>
        <th>covid-19</th>
        <th>Date</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @tabis.each do |tabi| %>
        <tr>
          <td>
            <% if tabi.tabi_photos.attached?%>
              <%= image_tag tabi.tabi_photos[0], :size => "130x100" %>
            <% else %>
              <%= image_tag("noimage.png", :size => "130x100") %>
            <% end %>
          </td>
          <td><%= tabi.title %></td>
          <td><%= tabi.address %></td>
          <td>
            <% if tabi.route_info == true %>
              <p>詳細あり</p>
            <% elsif tabi.route_info == false %>
              <p>なし</p>
            <% else %>
              <p></p>
            <% end %>
          </td>
          <td>
            <% if tabi.covid_info == true %>
              <p>情報あり</p>
            <% elsif tabi.covid_info == false %>
              <p>なし</p>
            <% else %>
              <p></p>
            <% end %>
          </td>
          <td><%= tabi.start_date %></td>
          <td><%= link_to 'Show', tabi %></td>
          <td><%= link_to 'Edit', edit_tabi_path(tabi) %></td>
          <td><%= link_to 'Destroy', tabi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Tabi', new_tabi_path %>
</div>
