<div class="content wrapper">

  <div class="earth_box">
    <div id="earth_div"></div>
    <script>
      function initialize() {
        var earth = new WE.map('earth_div');
        WE.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
          attribution: ''
        }).addTo(earth);
      }
    </script>
    <script src="http://www.webglearth.com/v2/api.js"></script>
  </div>

  <div class="top_catchcopy">
    <h1>あなたの旅が、誰かの旅のきっかけになる</h1>
    <div class="btn_box">
      <%= button_to "旅を投稿する", {controller: "tabis", action: "new"}, {method: :get, class: "mybtn"} %>
    </div>
  </div>

  <div class="search_form">
    <h1>あなたの知らない旅が見つかる</h1>
    <br>
    <%= search_form_for @q, url: search_tabis_path do |f| %>
      <%= f.label :title_or_content_or_address_cont, 'みんなの旅を検索', class: 'search_form_label' %>
      <br>
      <%= f.search_field :title_or_content_or_address_cont, class: 'search_form_control', placeholder: "場所名や住所、フリーワードで検索" %>
      <br>
      <label>
      <%= f.check_box :route_info_true %><span>ルート情報あり</span>
      </label>
      <label>
      <%= f.check_box :covid_info_true %><span>コロナ情報あり</span>
      </label>
      <br>
      <%= f.submit '検索' %>
    <% end %>
  </div>

  <div class="space_container">
  </div>

  <div class="tabi_container">
    <div class="tabi_photos">
      <% @random.each do |tabi| %>
        <%= link_to show_tabis_path(tabi.id) do %>
          <div class="tabi_box">
            <% if tabi.tabi_photos.attached?%>
                <%= image_tag tabi.tabi_photos[0], width: 250, height: 230, alt: "表示できません" %>
                <div class="tabi_info">
                  <p><%= tabi.title %></p>
                </div>
            <% else%>
                <%= image_tag("noimage.png", :size => "250x230") %>
                <div class="tabi_info">
                  <p><%= tabi.title %></p>
                </div>
            <%end%>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <div class="link-box">
    <%= link_to(index_tabis_path, class: 'hoge') do %>
      <h2 link_to>すべての旅を見る▷▷▷</h2>
    <% end %>
  </div>
</div>
